@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F1117;
  --foreground: #ffffff;
  --main-gold: #cea80d;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F1117;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.explore-button {
  border-radius: 8px;
  background-color: var(--main-gold);
  transition: background-color 0.3s ease;
}

.login-button {
  border-radius: 8px;
  background-color: var(--main-gold);  
  transition: background-color 0.3s ease;
}

.explore-button:hover,
.login-button:hover {
  background-color: color-mix(in srgb, var(--main-gold) 85%, #0F1117);  
}

.explore-button {
  position: relative;
  overflow: hidden;
}

.explore-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.explore-button:hover::before {
  opacity: 1;
}

/* New styles for navigation tabs */
@layer components {
  nav .nav-tab {
    @apply transition-colors duration-300 ease-in-out;
  }

  nav .nav-tab:hover {
    @apply text-[--main-gold];  
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .backdrop-blur-md {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.fade-in-out {
  animation: fadeInOut 2s infinite;
}

.balance-display {
  transition: background-color 0.3s ease;
}

.balance-display:hover {
  background-color: #2b2f3c;
}

.filter-yellow {
  filter: invert(82%) sepia(41%) saturate(1371%) hue-rotate(359deg) brightness(101%) contrast(103%);
}

/* Hide default scrollbars */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4A5568 #1C1F29;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  display: block;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1C1F29;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4A5568;
  border-radius: 4px;
  border: 2px solid #1C1F29;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #718096;
}